.main{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;  
}

.main div{
  margin: 10px 0; 
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;  
}

.main div div{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;  
}

.main h1{
  font-size: 18px;
  font-weight: 600 !important;
  color: black;
}

.main h2{
  font-size: 18px;
  color: var(--clrGR0);
}