@import './colors.css';
@import './form.css';
@import './confirm.css'; 
@import './datepicker-custom.css'; 

@font-face {
  font-family: 'Roboto';
  src: url('../../public/fonts/Roboto/Roboto-Light.ttf');
}

@font-face {
  font-family: 'Bebas';
  src: url('../../public/fonts/Bebas/BebasNeue-Regular.ttf');
  
}

*{
  padding: 0;
  margin: 0;
  font-family: 'Roboto' !important;
  font-weight: 200 !important;
  color: azure;
  cursor: default;
}

body{
  background-color: var(--body) !important;
}

h1,h2,h3,h4{
  padding: 0;
  margin: 0;
}

li.slick-active{
  opacity: .3;
}
